<header class="">
  <nav class="flex items-center justify-around min-h-36 p-20 ">
    <a href="/index.html">LOGO</a>
    <a href="/about.html">about</a>
    <a href="/services.html">services</a>
    <a href="/destinations.html">destinations</a>
    <a href="/faq-page.html">FAQs</a>
    <button class="border rounded-full" href="/contact.html">enquire</button>
  </nav>
  <div class="bg-cover bg-no-repeat min-h-screen flex flex-grow items-center justify-center" style="background-image:url('/assets/images/top-view-yacht.jpg')">
    <h1 class="text-4xl text-bluedark ">this is a heading</h1>
  </div>
</header>