<section class="grid grid-cols-3 gap-4 py-24 px-15p ">
  <a class="col-span-2 min-h-72 hover:opacity-80" style="background-image: url('/assets/images/top-view-yacht.jpg');">
    <div>
      <h4 class="text-white">Option one</h4>
    </div> 
  </a>
  <a class="min-h-72 hover:opacity-80" style="background-image: url('/assets/images/top-view-yacht.jpg');">
    <div class="text-white">Option two</div>
  </a>
  <a class="min-h-72 hover:opacity-80" style="background-image: url('/assets/images/top-view-yacht.jpg');">
    <div class="text-white">Option three</div>
  </a>
  <a class="min-h-72 hover:opacity-80" style="background-image: url('/assets/images/top-view-yacht.jpg');">
    <div class="text-white">Option four</div>
  </a>
  <a class="min-h-72 hover:opacity-80" style="background-image: url('/assets/images/top-view-yacht.jpg');">
    <div class="text-white">Option five</div>  
  </a>
  <a class="min-h-72 hover:opacity-80" style="background-image: url('/assets/images/top-view-yacht.jpg');">
    <div class="text-white">Option six</div>
  </a>
  <a class="col-span-2 min-h-72 hover:opacity-80" style="background-image: url('/assets/images/top-view-yacht.jpg');">
    <div class="text-white">Option seven</div>
  </a>
</section>